<%- include("../layouts/header.ejs")  %>

<section class=" BlueBG customSection">

    <h1 class="CustomSuccess">Successfully Added new User</h1> 
    
    <div>
        <button class="btn btn-grey" onclick="window.location.href='/admin/newUser'">Add another user</button> 
        <button class="btn btn-grey" onclick="window.location.href='/admin/dashboard'">Go to dashboard</button>
    </div>

</section>

<%- include("../layouts/header.ejs")  %>